<ion-view  hide-nav-bar="true" style="background-color:#FF007F;">
<ion-content padding="true" class="has-header">
    <div style="text-align:center;margin:130px 20px;color:#FFF;">

<h3 style="margin:20px 0px; color:#FFF;">No Internet Connection</h3>
    
        <center><i class="icon ion-ios-refresh-outline" ></i></center>
    
<p style="margin:35px 0px;font-size:20px;">Refresh <br>
    <center><i class="icon ion-ios-refresh-outline" style="font-size: 800%;" ng-click="refresh()"></i></center></p>
</div>
    </ion-content>
</ion-view>