<ion-view  hide-nav-bar="true" style="background-color:#FF007F;">
<ion-content padding="true" class="has-header">
    <div style="text-align:center;margin:130px 20px;color:#FFF;">

<h3 style="margin:20px 0px; color:#FFF;">Sparkle Media and Entertainment Pvt. Ltd.</h3>
    
<img style="margin:10px 0px; width:35%; height:35%" src="img/sparkleLoad.gif">
    
<p style="margin:35px 0px;font-size:20px;">Product By <br>
    Dreamwood Information Technologies Pvt. Ltd.</p>
</div>
    </ion-content>
</ion-view>