<ion-modal-view class="ion-nifty-modal-video">
<div class="modal transparent fullscreen-player" ng-click="closeModal()">
    <i class="icon ion-ios-close-outline even-more-custom-icon" ng-click="closeModal()"></i>
    <iframe width="100%" height="350" src="{{clipSrc}}" frameborder="0" allowfullscreen></iframe>
    <h3 class="title-des">Video Description</h3>
    <h4 class="title-des">{{clipDes}}</h4>
    
    <h3 id="company-name">Event Organized By <br> Sparkle Media and Entertainment Pvt. Ltd.</h3>
</div>
</ion-modal-view>